* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "roboto", arial, sans-serif;
  text-decoration: none;
  max-height: 100%;
  /* max-height: 180vh;  or*/
  background-color: #f1f3f6;
}

.a {
  display: block;
}

.a_cont {
  width: 99%;
  /* height: max-height; */
  /* border: 1px solid red; */
  background-color: #f1f3f6;
}

.heading_navigation {
  /* background-color: #2874f0; */
  height: 56px;
  /* position: sticky; */
  /* top: 0; */
  z-index: 2;
}

.anchor_plus:hover {
  text-decoration: underline;
}

.anchor_plus {
  font-size: 11px;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}

.plus {
  color: #ffe500;
  margin: 0px 02px;
  font-weight: bold;
}

.search_bar {
  max-width: 564px;
  width: 100%;
  margin-left: 0px;
}

.search_box {
  outline: none;
  padding: 0px 16px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border: 0;
  width: 800px;
  font-size: 14px;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn_search {
  background: #fff;
  border: 1px solid #fff;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  color: #2874f0;
  font-size: 19px;
}

.nav-item {
  margin-left: 20px;
}

.login_btn {
  color: #2874f0;
  border-radius: 2px;
  /* border: 1px solid #dbdbdb; */
  background: #fff;
  letter-spacing: 1px;
  height: 35px;
  padding: 6px 40px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.more_menu {
  position: relative;
  left: 10px;
}

.more_drop_li {
  padding: 10px 0px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.more_dropdown_list {
  position: absolute;
  list-style: none;
  background-color: white;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgba(0 0 0 /20%);
  min-width: 240px;
  transform: translate(-30px);
}

.more_icon {
  width: 25px;
  color: #2874f0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.cart_icon {
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

.new_login {
  font-weight: bold;
}

.sign_li {
  justify-content: space-between;
  font-size: 14px;
}

.signup {
  text-decoration: none;
  color: #2874f0;
}

.heading_categories {
  background: #fff;
  justify-content: center;
  height: 111px;
  width: 100%;
}
.heading_categories2 {
  background: #fff;
  justify-content: center;
  height: 40px;
  width: 100%;
}

.heading_category_list {
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
}

.heading_category_items {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
  height: 111px;
}
.heading_category_items2 {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
  height: 40px;
}
.heading_category_items2:hover {
  color: #2874f0;
}

.heading_category_items:hover {
  color: #2874f0;
}

.cat_image {
  height: 64px;
  width: 64px;
  margin-bottom: -2px;
}

.heading_item_name {
  font-size: 14px;
  font-weight: bold;
}

.heading_category_items:first-child {
  padding-left: 22px;
}

.heading_category_items:last-child {
  padding-right: 22px;
}

.footer_div {
  height: 347px;
  /* border:2px solid red; */
  display: block;
  background-color: #172337;
  padding: 0;
}

.imgDiv {
  height: 200px;
  width: 100px;
  transition: transform 0.2s;
}
.imgDiv:hover {
  transform: scale(1.1);
}

.card-title {
  font-size: 30px;
}

.row2_title {
  line-height: 40px;
}

.view_btn {
  font-size: 13px;
  padding: 10px 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.s_cardTitle {
  font-size: 14px;
  font-weight: bold;
}

.carousel-control-prev {
  width: 47px;
  height: 104px;
  background-color: black;
  /* shadow: 10px 10px 10px 10px black; */
  top: calc(50% - 50px);
  opacity: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.carousel-control-next {
  width: 47px;
  height: 104px;
  background-color: black;
  /* shadow: 10px 10px 10px 10px white; */
  top: calc(50% - 50px);
  opacity: 0.8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card_body_top_margin {
  margin-top: 90px;
}

/* products page */

.link_block {
  display: block;
  text-decoration: none;
}

.link_color {
  font-weight: 549;
}
.link_color:hover {
  color: #2874f0;
}

#search_container {
  display: flex;
  justify-content: space-between;
}

#search_container input {
  background-color: transparent;
  width: 60%;
  outline: none;
  border-bottom: 2px solid gray;
}

#search_container input:focus {
  border-bottom-color: #2874f0;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
}
.card:hover {
  box-shadow: 2px 2px 15px #dddbdb;
}

.stationery_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.slider_img {
  height: 63px;
  width: 63px;
  border: 1px solid rgb(219, 216, 216);
  opacity: 0.8;
  cursor: pointer;
}
.slider_img:hover {
  border: 2px solid blue;
  opacity: 1;
}

.slider_img img:hover {
  transform: scale(0.9);
}

.cart_button {
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  position: relative;
  padding: 10px;
  width: 200px;
  height: 60px;
  outline: none;
  cursor: pointer;
}

.cart_button:hover {
  box-shadow: 1px 1px 10px 1px gray;
  color: white;
}

.cart_button:active {
  transform: scale(0.9);
}

.buyNow {
  background-color: orangered;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.cart_notification {
  position: relative;
}

.cart_notification::after {
  content: attr(current_count);
  position: absolute;
  top: -10px;
  left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 40%;
  background-color: #ff6161;
  border: 1px solid whitesmoke;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-link {
  width: 46px;
  height: 28px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: black;
}
.page-link:hover {
  color: #2874f0;
  outline: none !important;
}
.page-link:focus {
  box-shadow: none;
}

.product_img img {
  min-width: 200px;
  max-height: 200px;
}
.cart_product_title {
  width: 350px;
}

.safe {
  background: url(https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/shield_b33c0c.svg);
  background-repeat: no-repeat;
}

.filter_checkbox .box {
  display: block;
  cursor: pointer;
}
.filter_checkbox .box label {
  cursor: pointer;
}
.filter_checkbox .box .checkbox {
  cursor: pointer;
}
